---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/img/energy-nigth_faviconv2.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    html {
      font-family: system-ui, sans-serif;
    }
	::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background-color: #f5f5f5;
      }
      ::-webkit-scrollbar-thumb {
        background-color: black;
      }
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
</style>